<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member List</title>
    <style>
        table,th,td{
            height:7px;
            border: 1px solid black;
            margin: auto;
        }
        table{
            border-radius: 10px;
        }
        tr{
            background-color: #96D4D4;
        }
        th {
            background-color: aqua;
        }
    </style>
</head>
<body>
    {% include 'base.html' %}
    <div class="main_div_form">
            <div style="width: 400px; margin:auto; text-align:center; background-color: beige;  border-radius: 20px;">
                <h4 class="text-center text-danger my-3">Interest Voucher Detail</h4>
            </div>
                        <table >
                            <thead>
                                <tr align="center">
                                    <th>Account Head</th>
                                    <th>Debit Amount</th>
                                    <th>Credit Balance</th>
                                    <!-- <th colspan="2" align="text-center">Action</th>  -->
                                    <button style= "background-color: azure;   margin-left: 975px; border-radius: 10px; "><a href="{% url 'intrepview' %}" >View Voucher</a>
                                    <button style= "margin-left: 2px; background-color: azure;border-radius:10px;"><a href="{% url 'home' %}" >Main Maenu</a>                                   
                                </tr>
                            </thead>
                            <tbody> 
                                {% for acc in int_v_trans %}
                                <tr>
                                    <td>{{acc.vch_acc_head}}</td>
                                    {% if acc.vch_dc == "D" %}
                                         <td>{{acc.vch_amt}}</td>
                                    {%else%}
                                        <td></td>   
                                    {% endif %}
                                    {% if acc.vch_dc == "C"  %}
                                         <td>{{acc.vch_amt}}</td>
                                    {%endif%}
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
    </div>    
</body>
</html>








