<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table,th,td{
            height:7px;
            border: 1px solid black;
            margin: auto;
        }
        table{
            border-radius: 10px;
        }
        tr{
            background-color: #96D4D4;
        }
        th {
            background-color: aqua;
        }
    </style>
    <title>Member List</title>
</head>
<body>
    {% include 'base.html' %}
    <div class="main_div_form">
            <div style="width: 400px; margin:auto; text-align:center; background-color: beige;  border-radius: 20px;">
                <h4 class="text-center text-danger my-3">Member List</h4>
            </div>
            <div class="container text-center my-1">
                {% comment %} <button style= "background-color: azure;    border-radius: 10px; "><a href="{% url 'detail' %}" >Add New</a></button> {% endcomment %}
                <button style= " background-color: azure;  border-radius:10px;"><a href="{% url 'home' %}" >Main Maenu</a></button>
            </div>
            {% if msg  %}
            <script>alert("{{ msg }}")</script>
                {% comment %} msg_disp()
                    <div class="alert alert-danger" style="width:650px;margin:auto;text-align:center;" role="alert">
                         {{msg}} 
                    </div> {% endcomment %}
            {% endif %}
            <div style="width:850px;margin:auto; height:410px; overflow-x: auto;"> 
                        <table>
                            <thead>
                                <tr align="center">
                                    <th style="width:80px">Mem No</th>
                                    <th style="width:350px">Name</th>
                                    <th style="width:125px">Date of Birth</th>
                                    <th style="width:125px">Sex</th>
                                    <th  colspan="2" align="text-center" >Action</th>
                                </tr>
                            </thead>
                            <tbody> 
                                {% for mem in mem_det %}
                                    <tr>
                                        <td>{{mem.member_no}}</td>
                                        <td>{{mem.name}}</td>
                                        <td>{{mem.dob}}</td>
                                        <td>{{mem.mem_sex_val}}</td>
                                        <td><button style="width:150px; background-color: azure; border-radius: 10px;"><a href="{% url 'mem_loan_ad' mem.member_no %}" >Create Loan A/c</a></button></td>
                                        {% comment %} <td><button style=" width: 75px; background-color: red;border-radius:10px;"><a href="{% url 'del' mem.member_no %}">Del</a></button></td> {% endcomment %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
   
    </div>
 
</body>

</html>