<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table,th,td{
            height:7px;
            border: 1px solid black;
            margin: auto;
        }
        table{
            border-radius: 10px;
        }
        tr{
            background-color: #96D4D4;
        }
        th {
            background-color: aqua;
        }
    </style>
    <title>Member List</title>
</head>
<body>
    {% include 'base.html' %}
    <div class="main_div_form">

            <div style="width: 500px; margin:auto; text-align:center; background-color: beige;  border-radius: 20px;">
                <h6 class="text-center text-danger my-1">Member Exclusion List From {{fv_dt}}   to {{tv_dt}}</h6>
            </div>
         {% comment %} <div style="overflow-x: auto;" > {% endcomment %}

            <div style="width:1200px;margin:auto; height:600px; overflow-x: auto;"> 

            {% comment %} <div class="col=md-12 offset-md-3">  border="2" cellspacing="7"  class="table table-striped"--> {% endcomment %}
                        <table >
                            <thead>
                                <tr align="center">
                                    <th style="width:80px">Mem No</th>
                                    <th style="width:350px">Name</th>
                                    <th style="width:125px">Date of Resign</th>
                                    <th style="width:125px">Sex</th>
                                    <th style="width:125px">Phone</th>
                                    <th style="width:125px">Address</th>
                                    <th style="width:125px">Nominee</th>
                                    <th  colspan="2" align="text-center" >Action</th>
                                    <button style= "background-color: azure;   margin-left: 955px; border-radius: 10px; "><a href="{% url 'mem_exclu' %}" >Exclusion list</a>
                                    <button style= " background-color: azure;border-radius:10px;"><a href="{% url 'main' %}" >Main Maenu</a>
                                </tr>
                            </thead>
                            <tbody> 
                                {% for mem in view_data %}
                                    <tr>
                                        <td>{{mem.member_no}}</td>
                                        <td>{{mem.name}}</td>
                                        <td>{{mem.resign_date}}</td>
                                        <td>{{mem.mem_sex_val}}</td>
                                        <td>{{mem.phone}}</td>
                                        <td>{{mem.address}}</td>
                                        <td>{{mem.nominee}}</td>
                                        <td><button style="width:75px; background-color: azure; border-radius: 10px;"><a href="{% url 'update' mem.member_no %}">Edit</a></button></td>
                                        {% comment %} <td><button style=" width: 75px; background-color: red;border-radius:10px;"><a href="{% url 'del' mem.member_no %}">Del</a></button></td> {% endcomment %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
    </div> -->
    </div>    
</body>

</html>