<nav class = "navbar navbar-expand-lg navbar-light bg-success text-white"  style="border-radius: 0px 0px 20px 20px; width: 1100px; height:40px ;margin: auto;">
 
    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Masters </a>
          <div class="dropdown-menu" >
            <a class="dropdown-item " style="width:200px; height:40px;" href="memdetail/">Members</a>
            <div class="dropdown-divider "></div>
            <a class="dropdown-item" href="accad/">Account</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Transaction</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="paymentad/1">Payment</a>
            <a class="dropdown-item" href="paymentad/2">Receipt</a>
            <a class="dropdown-item" href="paymentad/3">Contra</a> 
            <div class="dropdown-divider "></div>
            <a class="dropdown-item" href="cdlistview/">Member CD List</a> 
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="shareadd/9"  >Share Detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="intcal/">Interest Calculation</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="divcal/" >Dividend Calculation</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="loancal/">Loan Calculation</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Reprot View</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="memlist/" >Member's</a>
            <a class="dropdown-item" href="acclist/">Account's</a>
            <a class="dropdown-item" href="intrepview/">Interest</a>
            <a class="dropdown-item" href="divrepview/">Divedend</a>

            <div class="dropdown-divider "></div>
            <a class="dropdown-item" href="loanrepview/">Loan Repayment Schedule</a>
            <a class="dropdown-item" href="sharelist/">Share Detail</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-white">Disabled</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
</nav>