<form method="post" action="">
    {% csrf_token %}
<nav class = "navbar navbar-expand-lg navbar-light bg-success text-white"  style="border-radius: 0px 0px 20px 20px; width: 1300px; height:40px ;margin: auto;">

  
    <a class="navbar-brand" href="#"></a>
    <input type="hidden" name="username" value="{{ uname }}"> 

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Masters </a>
          <div class="dropdown-menu" >
            <a class="dropdown-item " style="width:200px; height:40px;" href="memdetail/">Members</a>
            <div class="dropdown-divider "></div>
            <a class="dropdown-item" href="accad/">Account</a>
            <div class="dropdown-divider "></div>
            <a class="dropdown-item" href="mem_loan_master/">Member Loan Account creation</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Transaction</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="paymentad/1">Payment</a>
            <a class="dropdown-item" href="paymentad/2">Receipt</a>
            <a class="dropdown-item" href="paymentad/3">Contra</a> 
            <div class="dropdown-divider "></div>
            <a class="dropdown-item" href="cdlistview/">Member CD List</a> 
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="shareadd/9"  >Share Detail</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Interest</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="intcal/">Interest Rate Define</a>
            <a class="dropdown-item" href="intcal_n/">Interest Calculation</a>
           
          </div>
        </li>


        <li class="nav-item active">
          <a class="nav-link text-white" href="divcal/" >Dividend Calculation</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="loancal/">Loan Calculation</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Reprot View</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="memlist/" >Member's</a>
            <a class="dropdown-item" href="acclist/">Account's</a>
            <a class="dropdown-item" href="intrepview/">Interest</a>
            <a class="dropdown-item" href="divrepview/">Divedend</a>

            <div class="dropdown-divider "></div>
            <a class="dropdown-item" href="loanrepview/">Loan Repayment Schedule</a>
            <a class="dropdown-item" href="sharelist/">Share Detail</a>
            <a class="dropdown-item" href="mem_incl/">Member Induction</a>
            <a class="dropdown-item" href="mem_exclu/">Member Exclusion</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Reports</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="daybook_view/" >Daybook</a>
            <a class="dropdown-item" href="ledger_view/"  >Ledger</a>
            <a class="dropdown-item" href="trail_view/" >Trail Balance</a>
            <a class="dropdown-item" href="mem_complete_list/" >Member Complete List</a>

            {% comment %} <a class="dropdown-item" href="acclist/">Ledger</a> {% endcomment %}
            {% comment %} <div class="dropdown-divider "></div> {% endcomment %}
            {% comment %} <a class="dropdown-item" href="loanrepview/">Loan Repayment Schedule</a>
            <a class="dropdown-item" href="sharelist/">Share Detail</a>
            <a class="dropdown-item" href="#">Daybook</a> {% endcomment %}
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">user Management</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" >Change Password</a>
            <a class="dropdown-item" href="#" >Add User</a>
            <a class="dropdown-item" href="/" >Logout</a>

            {% comment %} <a class="dropdown-item" href="acclist/">Ledger</a> {% endcomment %}
            {% comment %} <div class="dropdown-divider "></div> {% endcomment %}
            {% comment %} <a class="dropdown-item" href="loanrepview/">Loan Repayment Schedule</a>
            <a class="dropdown-item" href="sharelist/">Share Detail</a>
            <a class="dropdown-item" href="#">Daybook</a> {% endcomment %}
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="#" >{{uname}}</a>
        </li>

      </ul>
 
    </div>
</nav>
</form>