<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member List</title>
    <style>
        table,th,td{
            height:7px;
            border: 1px solid black;
            margin: auto;
        }
        table{
            border-radius: 10px;
        }
        tr{
            background-color: #96D4D4;
        }
        th {
            background-color: aqua;
        }
    </style>
</head>
<body>
    {% include 'base.html' %}
    <div class="main_div_form">
            <div style="width: 400px; margin:auto; text-align:center; background-color: beige;  border-radius: 20px;">
                <h6 class="text-center text-danger my-3">Ledger for {{acc_head_name}} </h6>
                <h6 class="text-center text-danger my-3">From {{fv_dt}}   to {{tv_dt}} </h6>

            </div>
            <div>
               <button style= "background-color: azure;   margin-left: 1100px; border-radius: 10px; "><a href="{% url 'trail_show_back' %}" >Back to Trail Balance</a>
               <button style= "margin-left: 2px; background-color: azure;border-radius:10px;"><a href="{% url 'home' %}" >Main Maenu</a>                                   
            </div>
                {% comment %} <div style="width:1200px;margin:auto;"> 
                    <table >
                        <thead>
                             <tr align="center">
                                <th style="width:125px">Vch Date </th>
                                <th style="width:125px">Vch No </th>
                                <th style="width:125px">Vch Type </th>
                                <th style="width:400px">Account Head</th>
                                <th style="width:125px">Debit</th>
                                <th style="width:125px">Credit</th>
                        <!-- <th colspan="2" align="text-center">Action</th>  -->
                            </tr>
                        </thead>
                    </table>   
                </div> {% endcomment %}
                <div style="width:1200px;margin:auto; height:600px; overflow-x: auto;"> 

                {% comment %} <div style="width:1200 px;margin:auto; height:100px; overflow-x: auto;">  {% endcomment %}
                        <table >
                            <thead>
                                <tr align="center">
                                    <th style="width:125px">Vch Date </th>
                                    <th style="width:125px">Vch No </th>
                                    <th style="width:125px">Vch Type </th>
                                    <th style="width:400px">Account Head</th>
                                    <th style="width:125px">Debit</th>
                                    <th style="width:125px">Credit</th>
                                    <th style="width:125px">Balance</th>
                                    <th style="width:74px">Action</th>

                                    <!-- <th colspan="2" align="text-center">Action</th>  -->
                                </tr>
                            </thead>
                            <tbody> 
                                {% for acc in day_data %}
                                <tr>
                                    <td>{{acc.vch_date}}</td>
                                    <td>{{acc.vch_no}}</td>

                                    {% if acc.trans_type == 1 %}
                                        <td>Payment </td>
                                    {%endif%}
                                    {% if acc.trans_type == 2 %}
                                        <td>Receipt </td>
                                    {%endif%}
                                    {% if acc.trans_type == 3 %}
                                        <td>Contra </td>
                                    {%endif%}
                                    {% if acc.trans_type == 4 %}
                                        <td> </td>
                                    {%endif%}

                                    <td>{{acc.narr}}</td>
                                    {% if acc_vch_amt == 0 %} 
                                        <td></td>
                                    {%endif%}
                                    {% if acc_vch_amt == 0%} 
                                        <td></td>
                                    {%endif%}

                                    {% if acc.vch_dc == "D" %}
                                         <td style=" text-align: right;" >{{acc.vch_amt}}</td>
                                    {%else%}
                                        <td></td> 
                                    {% endif %}
                                    {% if acc.vch_dc == "C"  %}
                                         <td style=" text-align: right;">{{acc.vch_amt}}</td>
                                    {%else%}
                                         <td></td>   
                                    {%endif%}
                                    <td style=" text-align: right;">{{acc.cb_bal}}</td>
                                    {% if acc.trans_type == 4 %}
                                        <td> </td>
                                    {%else%}
                                      <td><button style=" width: 75px; background-color: azure;border-radius:10px;"><a href="{% url 'vch_tr_edit' acc.vch_no %}">Edit</a></button></td>  
 
                                    {%endif%}
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>    
    </div>    
</body>
</html>








