<!DOCTYPE html>
<html lang="en">

{% load static %}   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/f1.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Member Detail</title>
</head>
<body>
    {% include 'base.html' %}
    <div style="width: 100%; height: 825px; margin:auto; border: 1px solid black; background-color: blue;">
        <div style="width: 400px; margin:auto; text-align:center; background-color: beige;  border-radius: 20px;">
            <h5 class="text-center text-danger my-3">Trail Balance View</h5>
        </div>
        
                <form action="{% url 'trail_show' %}"  method="post">
                {% csrf_token %} 
                    <div class="mainint">
                        <div class="intr2">
                            <label class-"form-label"  class="md-3 ml-8" >From Date </label>
                            <input type="date"  class="form-control" name="vch_stdt" id="vch_db" placeholder="Date"  value={{f_dt|date:"Y-m-d"}} autocomplete="off" required maxlength="10" size="10">
                        </div>                
                        <div class="intr2">
                            <label class-"form-label"  class="md-3 ml-8" >To >Date </label>
                            <input type="date"  class="form-control" name="vch_enddt" id="vch_enddb" placeholder="Date"  value={{t_dt|date:"Y-m-d"}} autocomplete="off" required maxlength="10" size="10">
                        </div>                

                        <br>
                        <div class="container text-center my-1" >
                            <button class="btn btn-primary" style ="background-color: rgb(42, 165, 144); border-radius: 10px;" type="submit">View</button>
                            <button class="btn btn-sucess text-white" style ="background-color: red; border-radius: 10px;" ><a href="{% url 'main' %}" >Exit</a></button>
                        </div> 
                        {% if msg  %}
                            <div class="alert alert-danger" style="text-align:center;" role="alert">
                                {{msg}}
                            </div>
                        {% endif %}

                    </div>

                </form>
    </div>           
</body>
    <script type="text/javascript" src="{% static '/js/first.js' %}"></script>
    <script>
        function grp_select(){
            gpid= document.getElementById("tr_id").value;
            gpname = document.getElementsByName("tr_type").value;
        } 
    </script>
</html>