<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member List</title>
    <style>
        table,th,td{
            height:7px;
            border: 1px solid black;
            margin: auto;
        }
        table{
            border-radius: 10px;
        }
        tr{
            background-color: #96D4D4;
        }
        th {
            background-color: aqua;
        }
    </style>
</head>
<body>
    {% include 'base.html' %}
    <div class="main_div_form">
            <div style="width: 400px; margin:auto; text-align:center; background-color: beige;  border-radius: 20px;">
                <h6 class="text-center text-danger my-3">Trail Balance From {{fv_dt}}   to {{tv_dt}} </h6>

            </div>
            <div>
               <button style= "background-color: azure;   margin-left: 1275px; border-radius: 10px; "><a href="{% url 'trail_view' %}" >Trail View</a>
               <button style= "margin-left: 2px; background-color: azure;border-radius:10px;"><a href="{% url 'main' %}" >Main Maenu</a>                                   
            </div>
            <div style="width:1025px;margin:auto; height:600px; overflow-x: auto;"> 
                        <table >
                            <thead>
                                <tr align="center">
                                    <th style="width:150px">Account Code </th>
                                    <th style="width:500px">Account Head</th>
                                    <th style="width:150px">Debit</th>
                                    <th style="width:150px">Credit</th>
                                    <th style="width:60px">Action</th>

                                    <!-- <th colspan="2" align="text-center">Action</th>  -->
                                </tr>
                            </thead>
                            <tbody> 
                                {% for acc in day_data %}
                                    <tr>
                                        <td style=" text-align: center;">{{acc.trail_acc_id}}</td>
                                        <td>{{acc.trail_acc_name}}</td>
                                        {% if acc.dc == "D" %}
                                            <td style=" text-align: center;" >{{acc.trail_cbbal}}</td>
                                        {%else%}
                                            <td></td> 
                                        {% endif %}
                                        {% if acc.dc == "C"  %}
                                           <td style=" text-align: center;">{{acc.trail_cbbal}}</td>
                                        {%else%}
                                           <td></td>   
                                        {%endif%}
                                        {%if acc.trail_cbbal > 0 %}
                                                 <td><button style=" width: 60px; background-color: azure;border-radius:10px; "><a href="{% url 'trail_led_view' acc.trail_acc_id %}">View</a></button></td>  
                                        {%else%}
                                            <td></td> 
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>    
    </div>    
</body>
</html>








